/* ! Section/Article */

section,
article {
  &.special {
    text-align: center;
  }
}

header {
  p {
    font-family: _font(family-heading);
    font-size: 1em;
    font-weight: _font(weight-heading-alt);
    letter-spacing: _font(kerning-heading);
    margin-top: -0.5em;
    text-transform: uppercase;
  }

  &.major {
    > :last-child {
      border-bottom: solid 3px _palette(accent);
      display: inline-block;
      margin: 0 0 _size(element-margin) 0;
      padding: 0 0.75em 0.5em 0;
    }
  }

  &.main {
    > :last-child {
      margin: 0 0 (_size(element-margin) * 0.5) 0;
    }
  }
}

// ! Special features
section {
  // * projects tags menu
  .tags-menu {
    display: flex;

    ul {
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      margin-bottom: 2em;
      display: flex;
      flex-wrap: wrap;

      li {
        font-size: 80%;
        list-style-type: none;
        margin: 0 0.5em 0.5em 0;
        padding: 0.2em 0.5em;
        border-radius: _size(border-radius);
        transition: color _duration(transition);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

        &[selected="true"] {
          border-color: rgba(0, 0, 0, 0.5) !important;
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);

          &::after {
            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
          }
        }

        &::after {
          content: attr(counter);
          margin-left: 1em;
          padding: 0.1em 0.5em;
          border: inherit;
          border-radius: inherit;
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
          font-weight: bold;
        }
      }

      li:hover {
        color: black;
        cursor: pointer;
        transition: color _duration(transition);
      }
    }
  }

  // * resume section
  &.resume {
    border-top: none !important;

    .features {
      article {
        display: block;
        width: 100%;
        margin: 0px;
        margin-bottom: _size(gutter);

        &:nth-last-child(1) {
          margin-bottom: 0px;
        }

        h2 {
          a {
            color: _palette(fg-light);
          }

          a:before {
            transition: color _duration(transition);
            content: "@ ";
          }

          a:hover::before {
            color: lighten(_palette(accent), 30%);
          }

          @include breakpoint("<=small") {
            a {
              display: block;
            }
          }
        }
      }
    }
  }
}
