/* ! Section/Article */

section,
article {
  &.special {
    text-align: center;
  }
}

header {
  p {
    font-family: _font(family-heading);
    font-size: 1em;
    font-weight: _font(weight-heading-alt);
    letter-spacing: _font(kerning-heading);
    margin-top: -0.5em;
    text-transform: uppercase;
  }

  &.major {
    > :last-child {
      border-bottom: solid 3px _palette(accent);
      display: inline-block;
      margin: 0 0 _size(element-margin) 0;
      padding: 0 0.75em 0.5em 0;
    }
  }

  &.main {
    > :last-child {
      margin: 0 0 (_size(element-margin) * 0.5) 0;
    }
  }
}

// ! Special features - resume section
section {
  &.resume {
    border-top: none !important;

    .features {
      article {
        display: block;
        width: 100%;
        margin: 0px;
        margin-bottom: _size(gutter);

        &:nth-last-child(1) {
          margin-bottom: 0px;
        }

        h2 {
          a {
            color: _palette(fg-light);
          }

          a:before {
            transition: color _duration(transition);
            content: "@ ";
          }

          a:hover::before {
            color: lighten(_palette(accent), 30%);
          }

          @include breakpoint("<=small") {
            a {
              display: block;
            }
          }
        }
      }
    }
  }
}
